* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    width: 1024;
}

html {
    font-size: 16px;
}

body {
    background-color: #272727;
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-size: 2rem;
}


i {
    color: rgb(133, 133, 133);
    display: inline;
    font-size: 28px;
}

li {
    display: inline;
    margin-left: 3.2px;
    margin-right: 3.2px;
    justify-content: space-between;
}


a {
    color: rgb(133, 133, 133);
    text-decoration: none;
    margin-left: 20px;
}


input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid;
}

/* Header */

header {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f1f1f;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
}

#cabe {
    display: flex;
    color: rgb(133, 133, 133);
    justify-content: space-between;
}

#icon {
    height: 80px;
    margin-top: 5px;
}

#socialtop {
    margin-top: 25px;
    width: 512.8px;
    margin-right: 200px;
    height: 65px;
}

.navegation {
    color: rgb(133, 133, 133);
    display: flex;
    margin-top: 25px;
    margin-left: 150px;
}

/* Main */

main {
    margin-top: 140px;
    padding-right: 200px;
    padding-left: 200px;
}

#coisas {
    margin-bottom: 10px;
}

#modelador {
    margin-bottom: 10px;
}

#projetos {
    margin-bottom: 20px;
    width: 2000px;
}

#brief {
    width: 2000px;
}

#prima {
    display: flex;
    width: auto;
}

#sobre {
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
}

#personagens {
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
}

#fanarts {
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
}

#animacoes {
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
}

#peor {
    margin-bottom: 20px;
    text-align: center;
}

#fan {
    margin-bottom: 20px;
    text-align: center;
}

#anim {
    margin-bottom: 20px;
    text-align: center;
}

#lore {
    display: flex;
    margin-bottom: 50px;
}

#ldesc {
    margin-top: 100px;
}

#sharon {
    display: flex;
    margin-bottom: 50px;
}

#sdesc {
    margin-top: 100px;
}

#marina {
    display: flex;
    margin-bottom: 50px;
}

#mdesc {
    margin-top: 100px;
}

#eddie {
    display: flex;
    margin-bottom: 50px;
}

#edesc {
    margin-top: 100px;
}

#sinon {
    display: flex;
    margin-bottom: 50px;
}

#sidesc {
    margin-top: 100px;
}

#spider {
    display: flex;
    margin-bottom: 50px;
}

#spdesc {
    margin-top: 100px;
}

#robot {
    display: flex;
    margin-bottom: 50px;
}

#rdesc {
    margin-top: 100px;
}

#arm {
    display: flex;
    margin-bottom: 50px;
}

#adesc {
    margin-top: 100px;
}

#sabre {
    display: flex;
    margin-bottom: 50px;
}

#sadesc {
    margin-top: 100px;
}

.img {
    width: 480px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100px;
}

.video {
    width: 480px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100px;
}

/* Footer */

footer {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;    
}

#form {
    display: flex;
}

fieldset {
    width: 752px;
    border: none;
}

#final {
    display: flex;
}

#legend {
    font-size: 28.8px;
}

#n-e {
    display: flex;
}

#message {
    display: block;
    margin-top: 20px;
}

#con {
    display: inline;
    margin-top: 0px;
    width: 1000px;
}

#button {
    width: 98%;
    margin-top: 40px;
}

#nome {
    display: block;
    width: 95%;
}

#email {
    display: block;
    width: 95%;
}

#nomeinput {
    width: 95%;
    display: block;
}

#emailinput {
    width: 95%;
    display: block;
}

#messageinput {
    width: 98%;
}

#socialbot {
    margin-top: 20px;
    width: 512.8px;
    height: 65px;
}

#con1 {
    margin-top: 20px;
}

#con2 {
    margin-top: 20px;
}

.pfooter {
    color: rgb(133, 133, 133);
    margin-top: 30px;
    margin-bottom: 15px;
}

.label {
    color: rgb(133, 133, 133);
    margin-top: 20px;
}
